<!doctype html>
<html>
<head>
    <title>메인페이지</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h2>공지</h2>
        </div>
        <table class="table table-striped">
            <th>id</th>
            <th>작성자</th>
            <th>제목</th>
            <th>작성일</th>
            <%  for(var i=0;i<notices.length;i++){
                var notice=notices[i] %>
                <tr class="info">
                    <td><%=notice.id%></td>
                    <td><%=notice.author%></td>
                    <td><a href="/view_post/<%=notice.id%>"><%=notice.title%></a></td>
                    <td><%=notice.wtime%></td>
                </tr>
            <% } %>
        </table>

        <div class="page-header">
            <h2>일반 게시판</h2>
        </div>
        <table class="table table-striped">
            <th>id</th>
            <th>작성자</th>
            <th>제목</th>
            <th>좋아요수</th>
            <th>작성일</th>
            <%  for(var i=0;i<posts.length;i++){
                var post=posts[i] %>
                <tr class="<%=2<=post.likeCount?'warning':'active'%>">
                    <td><%=post.id%></td>
                    <td><%=post.author%></td>
                    <td><a href="/view_post/<%=post.id%>"><%=post.title%></a></td>
                    <td><%=post.likeCount%></td>
                    <td><%=post.wtime%></td>
                </tr>
            <% } %>
        </table>
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="/list_post/1">Start</a></li>
                <li class="page-item"><a class="page-link" href="/list_post/<%=currentPage-1%>">Prev</a></li>
                <li class="page-item"><a class="page-link" href="/list_post/<%=currentPage%>"><%=currentPage%></a></li>
                <li class="page-item"><a class="page-link" href="/list_post/<%=currentPage+1%>">Next</a></li>
                <li class="page-item"><a class="page-link" href="/list_post/<%=lastPage%>">Last</a></li>
            </ul>
        </nav>
          
        <% if(isAuthenticated){%>
            <button type="button" class="btn btn-success btn-lg" onClick="location.href='/create_post'">글쓰기</button>&nbsp;
            <button type="button" class="btn btn-info btn-secondary btn-lg" onClick="location.href='/profile'">내 프로필 보기</button>&nbsp;
            <button type="button" class="btn btn-info btn-secondary btn-lg" onClick="location.href='/list_recommendpost/1'">추천글 게시판 보기</button>&nbsp;
        <% } else {%>
            <button type="button" class="btn btn-success btn-lg" onClick="location.href='/login'">로그인</button>&nbsp;
            <button type="button" class="btn btn-info btn-secondary btn-lg" onClick="location.href='/list_recommendpost/1'">추천글 게시판 보기</button>&nbsp;
        <% } %>
    </div>
</body>